* {
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: white;
  background-position: center;
  background-size: cover;
  padding: 0;
  margin: 0;
}

:root {
  --oren: #d89348;
  --gray: #8f919c;
  --turqo: #b8d7dc;
  --brow: #713b1d;
  --merah: #cf2937;
  --jedacredit: 50ms;
}

html {
    scroll-behavior: smooth;
}

body {
  background-color: rgb(34, 34, 34);
}

/* Header */
header {
  display: flex;
  height: 5%;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 5px rgb(63, 63, 63);
}

header h1 {
    margin: 1% 2%;
    font-family: catchy;
    font-weight: 100;
    letter-spacing: .2rem;
    user-select: none;
    font-size: 2.5rem;
}

header a {
    margin: 1% 2%;
    font-family: 'Montserrat';
    position: relative;
}

header a ::before {
    content: '';
    position: absolute;
    background-color: white;
    /* border-radius: 10px;
    bottom: 1px;
    left: -2px;
    right: -2px;
    height: 2px; */
}

.container {
    margin-top: 30px;
}

