* {
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: white;
  background-position: center;
  background-size: cover;
  user-select: none;
  padding: 0;
  margin: 0;
}

:root {
  --oren: #d89348;
  --gray: #8f919c;
  --turqo: #b8d7dc;
  --brow: #713b1d;
  --merah: #cf2937;
  --jedacredit: 50ms;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(34, 34, 34);
}

/* Header */
header {
  display: flex;
  height: 5%;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
}

header h1 {
    margin: 0 2%;
}

.container {
  margin-top: 30px;
}
